.main-wrapper {
  margin-top: 4rem;
}

@media (min-width: 750px) {
  .main-wrapper {
    margin-top: 10rem;
  }
}

.sidebar {
  margin-bottom: 2.5rem;
}

.sidebar h3 {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.sidebar p {
  margin-bottom: 1.8rem;
}

.sidebar a:hover {
  box-shadow: inset 0 -0.8rem 0 rgb(220, 220, 220), 0 .2rem 0 rgb(220, 220, 220);
}

.sidebar a::before {
  content: '______';
  color: rgb(220, 220, 220);
}

.essay img {
  width: 100%;
  height: auto;
}

article.overview {
  margin-bottom: 7.5rem;
}

.meta p,
.license p {
  margin-bottom: 0;
  font-family: "Courier", monospace;
  color: rgb(140, 140, 140);
}

.meta p:last-of-type,
.license p:last-of-type {
  margin-bottom: 2.5rem;
}
